# General extensions to ignore
*.RData
*.rdb
*.DS_Store
.Rproj.user
.Rhistory
.Ruserdata
.Rapp.history

# Private course documents
project/submissions*

# Temporary holds
problem-sets/003/003-solutions*
problem-sets/003/003-problems.Rmd